{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Bordered Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>{{'name' | trans}}</th>
                            <th>{{'status' | trans}}</th>
                            <th>{{'action' | trans}}action</th>
                        </tr>
                        {% for item in list %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.status}}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
                
                {{ knp_pagination_render(list) }}
                  
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>

{% endblock %}